[submodule "external/detectron2"]
	path = external/detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "external/detic"]
	path = external/detic
	url = https://github.com/facebookresearch/Detic.git
